@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
    --Cyan: hsl(179, 62%, 43%);
    --Yellow: hsl(71, 73%, 54%);
    --Gray: hsl(204, 43%, 93%);
    --Blue: hsl(218, 22%, 67%);
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: 'Karla', sans-serif;
    list-style: none;
    text-decoration: none;
}

html {
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--Gray);
}

.main {
    display: grid;
    grid-template-areas:
    'top top'
    'left right';
    max-width: 42rem;
    grid-template-columns: 50% 50%;
    grid-template-rows: 0.8fr 1fr;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 1rem;
}

.top {
    background-color: #fff;
    grid-area: top;
    padding: 3rem;
}

.top h1 {
    color: var(--Cyan);
    font-size: 1.6rem;
}

.top h2 {
    color: var(--Yellow);
    margin-top: 2.5rem;
    font-size: 1.13rem;
}

.top p {
    margin-top: 1rem;
    color: var(--Blue);
    line-height: 2rem;
}

.left {
    background-color: var(--Cyan);
    padding: 3rem;
    grid-area: left;
    position: relative;
}

.left h2 {
    color: var(--Gray);
    font-size: 1.2rem;
}

.left .money {
    margin: 1rem 0;
    display: flex;
    align-items: center;
}

.left .money h1 {
    color: var(--Gray);
}

.left .money p {
    color: var(--Gray);
    opacity: 0.5;
    margin-left: 1rem;
}

.left > p {
    color: var(--Gray);
}

.left a {
    display: block;
    text-align: center;
    color: var(--Gray);
    background-color: var(--Yellow);
    padding: 1rem;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 1px 8px 15px rgba(0, 0, 0, 0.17);
    margin-top: 2.6rem;
}

.right {
    background-color: hsla(179, 62%, 43%, 0.712);
    padding: 3rem;
    grid-area: right;
}

.right h2 {
    color: var(--Gray);
    font-size: 1.2rem;
}

.right pre {
    color: hsla(203, 44%, 93%, 0.602);
    line-height: 1.4rem;
    margin-top: 1.5rem;
}

@media screen and (max-width:560px) {
    body {
        height: auto;
    }
    .main {
        grid-template-areas:
        'top'
        'left'
        'right';
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        margin: 5rem 2rem;
    }

    html {
        font-size: 80%;
    }
}